{% load static %}
<html>
    <head>
        <title>Hello</title>

    </head>
    <body>
        <h1>CRUD Application using DJANGO</h1>
        {{name}}
        <form action="add" method="post" name="myform">
            <!--For security reason-->
            {% csrf_token %}
            <input type="text" name="text1">
            {{text}}
            <input type="text" name="text2">
            <input type="submit" value="submit" name="submit">
        </form>
    <label>Addton of two value : </label>{{result}}
    <a href="new">Click</a>
    <h1>Mysql show my data from tables</h1>
    <a href="show">Click here to show...</a>
    </body>
</html>